<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #bbccc8">
<audio controls id="play" style="display: none">
<source src="http://www.pachd.com/sfx/wine_glass.wav" type="audio/mpeg">
</audio>
<div>
    <ul id="err_log">

    </ul>
</div>


<script>
//ouu to uper ek div bana de aur append karta ja  append at top puch ra hu
//ouu serch mar g
    {% for err in errors %}
        var li_element_one = "{{err.name}}" + " at line no " + "{{err.line_no}}" + " in file " + "{{err.file_location}}" + "at time " + "{{ err.timestamp }}";
        $("#err_log").prepend('<li>'+li_element_one+'</li>');
    {% endfor %}
    let chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + 'errors' + '/');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data['error_object'];
        console.log(message);
        let li_element = message["name"] + " at line no: " + message["line_no"] + " in file " + message["file_location"] + " at time "+ message["timestamp"];
        $("#err_log").prepend('<li>'+li_element+'</li>');
        document.getElementById("play").play();


    };
    chatSocket.onclose = function(e) {
        console.log(e);
        console.error('Chat socket closed unexpectedly');
    };
</script>
</body>
</html>