{%extends 'home/home.html'%}
<!--suppress ALL -->

{%block content%}

    <div class="container-fluid">
        <div class="row" style="width: 100%" >
            <div class="col-md-12">
                <canvas id="myChart"></canvas>
            </div>

        </div>
    </div>
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row" style="width: 100%" >
            <div class="col-md-6">

                <div id="Line"></div>
            </div>

            <div class="col-md-6">

                <div id ="monthly_count"></div>
            </div>

        </div>
    </div>
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row" style="width: 100%" >
            <div class="col-md-12">
                <div id="Time"></div>
            </div>

        </div>
    </div>







    <script>
        const ouu = {{ monthly_count }};
        var piechart = [1,2,3,4,5,6,7,8,9,10,11,12];
        var datapie = []
        var month = [];
        const mon = ['January', 'February', 'March','April','May','June','July','August','September','October','November','December'];
        for (var i=0;i<12;i++)
        {
            if (ouu[i]) {
                datapie.push(ouu[i]);
                month.push(mon[i]);
            }

        }


        var data = [{
            values: piechart,
            labels:mon ,
            type: 'pie'
        }];

        var layout = {
            title: 'Monthly Count Of Number Of visitors',

            height: 500,
            width: 600
        };

        Plotly.newPlot('monthly_count', data, layout);


    </script>
    <script>

    </script>
    <script>
        const ctx = document.getElementById("myChart");
        const mydata = {{ hourly_count }};
        var newdata = [];
        for (var i=0;i<=23;i++)
        {
            if (mydata[i])
                newdata.push(mydata[i]);
            else
                newdata.push(0);

        }
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["0-1","1-2","2-3","3-4","4-5","5-6","6-7","7-8","8-9","9-10","10-11","11-12","12-13","13-14","14-15","15-16","16-17","17-18","18-19","19-20","20-21","21-22","22-23","23-24"],
                datasets: [{
                    label: '# No. of requests',
                    data: newdata,
                    backgroundColor:
                        'rgba(255, 150, 132, 0.2)'
                    ,
                    borderColor:
                        'rgba(153, 102, 255, 0.2)'
                    ,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        const dtx = document.getElementById("Line");
        const linedata = {{ daily_count }};
        var newdata = [];
        for (var i=0;i<=31;i++)
        {
            if (linedata[i])
                newdata.push(linedata[i]);
            else
                newdata.push(0);

        }


        var trace3 = {
            x: [1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31],
            y: newdata,
            mode: 'lines+markers',
             line: {

                    width: 3
                }
        };

        var data = [  trace3 ];

        var layout = {
            title:'Number Of Visitors Visited Per Day',
            xaxis: {
                title: 'Day',
                showgrid: true,
                zeroline: false
            },
            yaxis: {
                title: 'Number Of Visitors Per Day ',
                showline: true,
                showgrid: true

            }
        };
        Plotly.newPlot('Time', data, layout);

    </script>

    <script>

        {#const timedata = {{response_time }};#}
        {#var newdata = [];#}
        {#var X = []#}
        {#for (var i=0;i<=timedata.length;i++)#}
        {#{#}
        {#    if (timedata[i])#}
        {#        newdata.push(timedata[i]);#}
        {#    else#}
        {#        newdata.push(0);#}
        {#    X.push(i+1);#}
        {##}
        {#}#}


            var trace3 = {
                x: [1,2,3],
                y: [1,2,3],
                mode: 'lines+markers',
                line: {
                    color: 'rgb(219, 64, 82)',
                    width: 3
                }
            };

            var data = [  trace3 ];

            var layout = {
                title:'Response Time',
                xaxis: {
                    title: 'Page',
                    showgrid: true,
                    zeroline: false
                },
                yaxis: {
                    title: 'Time',
                    showline: true,
                    showgrid: true

                }
            };
            Plotly.newPlot('Line', data, layout);

    </script>




{%endblock%}