<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #0000cc ">
{% block content%}
    <div class="container" align="center" style="background-color:#0000cc ;padding-right: 0px;padding-left:0px;height: 800px">
    <div style="background: white;margin-top: 200px;height: 200px;width: 400px">
        <br>
        <h3 style="margin-top: 10px;margin-bottom: 20px;"><strong>Right now</strong></h3>
        <h1 id ="count" style="color:#1db7fc"></h1>

        <h3 id ="count" style="color:limegreen"><strong>Users Is Live</strong></h3>

    </div>
    </div>


<script>

    $(document).ready(function () {

     $.ajax({
                type: "GET",
                url: "{%url 'count'%}",
                success: function(response) {
                     $("#count").html(response);
                    console.log("user counted")

                }
            });



    });
    let chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + 'room' + '/');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data['message'];

        {#if(message ==="plus"){#}
        {##}
        {#    $.ajax({#}
        {#        type: "GET",#}
        {#        url: "{%url 'name'%}",#}
        {#        data: "password="+password,#}
        {#        success: function(response) {#}
        {#            $("#count").text(response);#}
        {#            console.log("user counted")#}
        {#        }#}
        {#    });#}
        {##}
        {##}
        {##}


        if(message ==="plus"){

            $.ajax({
                type: "GET",
                url: "{%url 'plus'%}",
                success: function(response) {
                     $("#count").html(response);
                    console.log("user counted")

                }
            });

        }
        if(message ==="minus"){

            $.ajax({
                type: "GET",
                url: "{%url 'minus'%}",
                success: function(response) {
                    console.log("user counted");
                     $("#count").html(response);
                }
            });

        }
        console.log("message is"+ message)

    };
    chatSocket.onclose = function(e) {
        console.log(e);
        console.error('Chat socket closed unexpectedly');
    };
</script>
{%endblock%}
</body>
</html>